.bar {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    padding-left: 1rem;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

button {
    -webkit-app-region: no-drag;
}